body{
    margin: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

a,
a img{
    transition-duration: 240ms;
}

a img{
    -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 255, 0, 0.0));
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 0, 0.0));
}

a:hover{
    transform: scale(1.15);
}

a img:hover{
    -webkit-filter: drop-shadow(0px 12px 44px rgba(255, 255, 0, 0.8));
    filter: drop-shadow(0px 12px 44px rgba(255, 255, 0, 0.8));
}

#d-home{
    background: url();
}

#d-home_img_bg{
    max-width: 100%;
    max-height: 100%;
}

#d-btn_close{
    margin: 16px;
    height: 80px;
}

.d-btn_small_square{
    height: 80px;
    margin: 16px;
}

.d-btn_small_square>img{
    height: 100%;
}

.d-btn_medium{
    height: 120px
}

.d-btn_medium>img{
    height: 100%;
}

#d-banner_home{
    background: url(../img/dec_banner_home.png);
    background-size: contain;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 220px;
    font-size: 24px;
    
}

#d-banner_kuning{
    background: url(../img/dec_banner.svg);
    background-size: contain;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 160px 16px 160px;
    font-size: 36px;
}

#d-mulai{
    background: url(../img/bg_menu.png);
}

main>div{
    max-width: 100%;
    max-height: 100%;
}

.d-form{
    background: #FFF1B1;
    border: 10px solid #A26330;
    padding: 24px 40px;
    border-radius: 40px;
}

#d-mulai .d-form,
#d-informasi_tombol .d-form,
.d-form{
    margin-top: 120px;
    margin-bottom: 200px;
}

.btn_menu_form_img>img{
    height: 160px;
}

#d-informasi_tombol #d-banner_kuning{
    background: url(../img/dec_banner_informasi_tombol.svg);
    background-size: contain;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 220px 12px 220px;
    font-size: 32px;
}

.d-btn_hitam{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.d-btn_hitam>img{
    margin-right: 16px
}